<ol class="breadcrumb">
      <li>{{#link-to 'index'}}Books{{/link-to}}</li>
      <li class='active'>New</li>
    </ol>

    <div class='row'>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="book_title" class="col-sm-2 control-label">Book Title</label>
          <div class="col-sm-9">
            {{input class="form-control" id="book_title" placeholder="Book Title" valueBinding="model.title"}}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" {{action 'createReview'}}>Save Review</button>
          </div>
        </div>
      </form>
    </div>