<ul class="list-unstyled">
{{#each}}
  <li class="row">
    <div class="col-sm-3">
      <a {{bind-attr href='url'}} targe='_blank'>
        <img {{bind-attr src='image'}}/>
      </a>
      <p class='text-center rating'><strong>{{rating}}</strong>/5</p>
    </div>
    <div class="col-sm-9">
      {{title}}
    </div>

  </li>
{{/each}}
</ul>