<ol class="breadcrumb">
  <li class="active">Books</li>
</ol>

<div class="row">
  <div class="col-sm-8">
    {{render 'books' books}}
  </div>
  <div class="col-sm-4">
    {{render 'genres' genres}}
  </div>
</div>